body {
  margin: 0;
  background: linear-gradient(45deg, #49a09d, #5f2c82);
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 100;
  padding: 15px;
  color: #fff;
  min-height: 100vh;
}

h2, h3 {
  margin-top: 0;
}

.container {
  margin: 0 auto;
  max-width: 800px;
  text-align: left;
}

.hide {
  display: none;
}

lable {
  display: block;
  margin: 10px 0;
}

input,
button {
  margin: 0 0 10px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border: 1px solid #5f2c82;
  border-radius: 15px;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.95);
  cursor: pointer;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

thead,
tbody {
  display: flex;
  flex-direction: column-reverse;
}

tr {
  display: flex;
}

td,
th {
  width: 33.33%;
  display: inline-block;
  ;
}

th,
td {
  border-bottom: 1px solid white;
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);

}

th {
  text-align: left;
  background-color: #55608f;

}

tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.diff {
  font-weight: bold;
  text-align: right;
}

/* comparison*/
.compare {
  border: 2px solid white;
  border-radius: 15px;
  padding: 15px;
  max-width: 300px;
  text-align: center;
  margin: 20px auto;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

.saving {
  font-size: 3em;
  font-weight: bold;
  display: block;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/*graph*/
.graph {
  margin: 60px auto 30px;
  position: relative;
  width: 300px;
}

.graphHoverValue {
  position: absolute;
  text-align: left;
  width: 120px;
  right: 0;
  top: -20px;
}

.createForm {
  border: 2px solid white;
  border-radius: 15px;;
  padding: 15px;
  margin: 30px 0;
}

/*languageswitcher*/

.languageSwitcher {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #23d5ab;
  border: 1px solid #23d5ab;
  border-radius: 10px;
  overflow: hidden;
}

.languageSwitcher .radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline;
  min-width: 0;
  min-height: 0;
  outline: none;
  background-color: transparent;
  position: absolute;
  border: none;
}

.languageSwitcher .radio::before,
.languageSwitcher .radio:checked::before {
  display: none;
}

.languageSwitcher .radio + label {
  margin: 0;
  padding: 5px 10px;
  display: inline-block;
}

.languageSwitcher .radio + label:hover {
  cursor: pointer;
}

.languageSwitcher .radio:checked+label {
  background: white;
  color:  #23d5ab;
}